* { 
    box-sizing:border-box; 
}

body {
    font-family: monteserrat;
    margin: 0px;
}

.main-header {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    padding: 5px 10px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px; 
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: blue;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 3px;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: 95%;
    vertical-align: middle;
}

.main-nav__items {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a::after {
    content: " (link)";
    color: red;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: blue;
    border-bottom: 5px solid blue;
}

.main-nav__item--up a {
    color: white;
    background-color: blueviolet;
    padding: 2px 5px;
    border-radius: 3px;
}

.main-nav__item--up a:hover,
.main-nav__item--up a:active {
    color: red;
    background: white;
    border: none;
}